/* PRODUCT CARD */

.product-card {
    border-radius: 1rem;
    margin-bottom: 3rem;
}

.product-card .product-card__header {
    background-color: #e2e2e2;
    border-radius: 0.9rem 0.9rem 0rem 0rem;
}

.product-card .product-card__header img {
    min-height: 27rem;
    max-height: 27rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.9rem 0.9rem 0px 0px;
}

.product-card .product-info {
    padding: 1.4rem;
    display: flex;
    justify-content: space-between;
    font-size: 1.8rem;
}

.product-card .product-info .product-price {
    color: #71004e;
    font-style: italic;
    font-size: 1.75rem;
}

.product-card__footer a {
    font-family: 'Montserrat', sans-serif;
    width: 50%;
    box-shadow: none;
    border: none;
    padding: 1.5rem 1rem;
    font-weight: 500;
    background-color: #842d4e;
    font-style: italic;
    color: #FFF !important;
    text-align: center;
    font-size: 1.7rem;
}

.product-card__footer a:nth-child(1) {
    border-right: solid 1px #71004e;
    border-radius: 0px 0px 0rem 0.9rem;
}

.product-card__footer a:nth-child(2) {
    border-radius: 0px 0rem 0.9rem 0rem;
}