*,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none !important;
    color: inherit !important;
}

input:hover,
input:active,
input:visited,
input:focus,
textarea:hover,
textarea:active,
textarea:visited,
textarea:focus,
button:hover,
button:active,
button:visited,
button:focus,
select:hover,
select:active,
select:visited,
select:focus {
    outline: solid 0px #842d4e;
}

html {
    font-size: 10px;
}

body {
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
    color: #252525;
    font-size: 1.3rem;
}

.container {
    max-width: 1120px;
    padding: 0px 15px;
}

.products {
    margin-top: 3rem;
    padding: 0px 15px;
}