*,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none !important;
    color: inherit !important;
}

input,
textarea,
button {
    outline: none;
}

html {
    font-size: 10px;
}

body {
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
    color: #252525;
    font-size: 1.3rem;
}

.container {
    max-width: 1200px;
    padding: 0px 15px;
}

.products {
    margin-top: 3rem;
    padding: 0px 15px;
}